@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
.accessibility-label {
  position: absolute;
  left: -999px;
}

.bold {
  font-weight: bold;
}

.gray {
  color: dimgray;
}

/*
*       HEADER
*/
body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  max-width: 1024px;
}

header {
  box-shadow: 0 5px 10px lightgrey;
}
header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2.3rem;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}

/*
*       FOOTER
*/
footer {
  background-color: #353535;
  color: white;
  padding: 1rem 0 3rem 2rem;
}
footer h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}
footer a {
  text-decoration: none;
  color: white;
}

/*
*       NAVBAR
*/
.nav-bar {
  text-align: center;
  background-color: #F6F6F6;
}
.nav-bar .search-bar {
  margin-top: 5px;
  font-size: 1.3rem;
  padding: 1rem 0;
  background-color: #EAEAEA;
}
.nav-bar .search-bar input {
  border: none;
  font-size: 1.3rem;
  width: 200px;
  margin-left: 1rem;
  background-color: #EAEAEA;
}
.nav-bar .btn-explore {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 768px) {
  .nav-bar .btn-explore .subtitle {
    font-size: 1.2rem;
  }
}
.nav-bar .btn-explore label {
  padding: 1.3rem;
  color: white;
  border-radius: 2rem;
  font-size: 1.3rem;
  background: linear-gradient(#ff79da, #9356dc);
  margin-bottom: 3rem;
  margin-top: 2rem;
  box-shadow: 0 3px 10px darkgray;
}
.nav-bar .btn-explore label:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 3px 10px #ff79da;
}
.nav-bar .btn-explore p {
  font-size: 1.8rem;
  margin: 0;
  margin-top: 1.5rem;
  padding: 0 1rem;
  flex-basis: 100%;
}

/*
*       MENU
*/
.menu {
  margin-bottom: 4rem;
}
.menu h2 {
  margin: 2rem 0 0 2rem;
}
.menu ol {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}
@media (max-width: 900px) {
  .menu ol {
    flex-direction: column;
  }
}
.menu ol li {
  width: 255px;
  background-color: #F6F6F6;
  border-radius: 1rem;
  padding: 1.5rem 0;
  box-shadow: 0 3px 5px darkgray;
}
.menu ol li i {
  margin-right: 0.5rem;
}
.menu ol li span {
  position: relative;
  left: -1rem;
  border: 1px solid #9356dc;
  padding: 0.4rem 0.8rem;
  border-radius: 50%;
  font-weight: bold;
  background-color: #9356dc;
  color: white;
}
.menu ol li span:hover {
  cursor: pointer;
}
.menu ol li:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: #F5EDFF;
  box-shadow: 0 3px 5px #ff79da;
}

/*
*       RESTAURANTS
*/
.restaurants {
  padding-bottom: 4rem;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.restaurants .card {
  cursor: pointer;
  position: relative;
  height: 270px;
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 3px 8px darkgray;
}
.restaurants .card img {
  width: 100%;
  object-fit: cover;
  min-height: 200px;
  max-height: 200px;
  border-radius: 1rem 1rem 0 0;
}
.restaurants .card .description {
  display: flex;
  justify-content: space-around;
}
.restaurants .card .description .layout {
  width: 85%;
}
.restaurants .card .description .layout h3, .restaurants .card .description .layout p {
  margin: 0;
  padding: 0.3rem 0 0 1rem;
}
.restaurants .card .description .layout-star {
  display: flex;
  width: 15%;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.restaurants .card .description .layout-star .fa-solid.fa-heart {
  display: none;
}
.restaurants .card .description .layout-star:hover {
  cursor: pointer;
  background: linear-gradient(#9356dc 20%, #ff79da 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants .card .description .layout-star:hover .fa-regular.fa-heart {
  display: none;
}
.restaurants .card .description .layout-star:hover .fa-solid.fa-heart {
  display: inline;
}
.restaurants .card a {
  text-decoration: none;
  color: inherit;
}
.restaurants .card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px #9356dc;
}
.restaurants span {
  position: absolute;
  content: "";
  right: 10px;
  top: 20px;
  font-weight: bold;
  background-color: #99E2D0;
  color: #2FAF94;
  padding: 0.5rem;
  width: 65px;
}
.restaurants h2 {
  margin: 4rem 0 0 2rem;
  padding-top: 2rem;
  width: 100%;
}
@media (max-width: 660px) {
  .restaurants .card {
    display: flex;
    flex-basis: 100%;
    min-width: 210px;
    margin-top: 1rem;
  }
}

body header > div {
  display: flex;
}
body header .logo {
  display: flex;
  flex-basis: 2rem;
  align-items: center;
  margin-left: 1rem;
}
body header .logo i {
  font-size: 2rem;
  color: black;
  cursor: pointer;
}
body header .titre {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}
body header .titre h1 {
  font-family: "Shrikhand", cursive;
}
body main {
  background-color: #EAEAEA;
}
body main fieldset {
  border: 0;
}
body main img {
  height: 400px;
  object-fit: cover;
  object-position: 50% 70%;
  width: 100%;
}
body main .titre-menu {
  position: relative;
  top: -5rem;
  border-radius: 3rem 3rem 0 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-basis: 95%;
  padding-left: 2rem;
  background-color: #EAEAEA;
}
body main .titre-menu h1 {
  font-family: "Shrikhand", cursive;
}
body main .titre-menu i {
  display: flex;
  font-size: 2rem;
  align-items: center;
  padding-right: 3rem;
}
body main .titre-menu .layout-star {
  display: flex;
  width: 15%;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
body main .titre-menu .layout-star .fa-solid.fa-heart {
  display: none;
}
body main .titre-menu .layout-star:hover {
  cursor: pointer;
  background: linear-gradient(#9356dc 20%, #ff79da 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body main .titre-menu .layout-star:hover .fa-regular.fa-heart {
  display: none;
}
body main .titre-menu .layout-star:hover .fa-solid.fa-heart {
  display: inline;
}
body main .menus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .menus .entrees, body main .menus .plats, body main .menus .desserts {
  padding: 0 1rem 3rem 1rem;
}
body main .menus .entrees h4, body main .menus .entrees p, body main .menus .plats h4, body main .menus .plats p, body main .menus .desserts h4, body main .menus .desserts p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body main .menus .entrees h3, body main .menus .plats h3, body main .menus .desserts h3 {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 0.3rem;
}
body main .menus .entrees > p, body main .menus .plats > p, body main .menus .desserts > p {
  width: 47px;
  color: #EAEAEA;
  border-top: 3px solid #99E2D0;
}
body main .menus .entrees article, body main .menus .plats article, body main .menus .desserts article {
  display: flex;
  border: 1px solid transparent;
  width: 470px;
  height: 60px;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
body main .menus .entrees article .check:checked, body main .menus .plats article .check:checked, body main .menus .desserts article .check:checked {
  background-color: #F5EDFF;
}
body main .menus .entrees article input, body main .menus .plats article input, body main .menus .desserts article input {
  visibility: hidden;
}
@media (max-width: 530px) {
  body main .menus .entrees article, body main .menus .plats article, body main .menus .desserts article {
    width: 350px;
    margin: auto;
    margin-bottom: 1rem;
  }
  body main .menus .entrees article .entrees, body main .menus .entrees article .plats, body main .menus .entrees article .desserts, body main .menus .plats article .entrees, body main .menus .plats article .plats, body main .menus .plats article .desserts, body main .menus .desserts article .entrees, body main .menus .desserts article .plats, body main .menus .desserts article .desserts {
    padding: 0;
  }
  body main .menus .entrees article .entrees h3, body main .menus .entrees article .plats h3, body main .menus .entrees article .desserts h3, body main .menus .plats article .entrees h3, body main .menus .plats article .plats h3, body main .menus .plats article .desserts h3, body main .menus .desserts article .entrees h3, body main .menus .desserts article .plats h3, body main .menus .desserts article .desserts h3 {
    margin-left: 1rem;
  }
}
body main .menus .entrees article .description, body main .menus .plats article .description, body main .menus .desserts article .description {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  justify-content: space-between;
  width: 80%;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
body main .menus .entrees article .prix, body main .menus .plats article .prix, body main .menus .desserts article .prix {
  display: flex;
  width: 4rem;
  font-weight: bold;
  align-items: flex-end;
  justify-content: center;
  padding: 0 0.5rem 0.5rem 0;
  border-radius: 0 1rem 1rem 0;
}
body main .menus .entrees article .select-choix, body main .menus .plats article .select-choix, body main .menus .desserts article .select-choix {
  display: flex;
  background-color: #99E2D0;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
  border-radius: 0 1rem 1rem 0;
  width: 4rem;
  margin-right: -4rem;
}
body main .menus .entrees article:hover .select-choix, body main .menus .plats article:hover .select-choix, body main .menus .desserts article:hover .select-choix {
  margin: 0;
  transition: all 0.5s;
  cursor: pointer;
}
body main .menus .entrees article:hover .select-choix i, body main .menus .plats article:hover .select-choix i, body main .menus .desserts article:hover .select-choix i {
  animation: spin 1s;
}
body main .menus .entrees article .description:hover, body main .menus .entrees article .prix:hover, body main .menus .plats article .description:hover, body main .menus .plats article .prix:hover, body main .menus .desserts article .description:hover, body main .menus .desserts article .prix:hover {
  cursor: pointer;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body main .btn-explore {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 768px) {
  body main .btn-explore .subtitle {
    font-size: 1.2rem;
  }
}
body main .btn-explore label {
  padding: 1.3rem;
  color: white;
  border-radius: 2rem;
  font-size: 1.3rem;
  background: linear-gradient(#ff79da, #9356dc);
  margin-bottom: 3rem;
  margin-top: 2rem;
  box-shadow: 0 3px 10px darkgray;
}
body main .btn-explore label:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 3px 10px #ff79da;
}
body main .btn-explore p {
  font-size: 1.8rem;
  margin: 0;
  margin-top: 1.5rem;
  padding: 0 1rem;
  flex-basis: 100%;
}

/*# sourceMappingURL=restaurant1.css.map */
