@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Shrikhand&display=swap");
/*
*       Variables Colors
*/
/*
*       Largeur des éléments menu
*/
/*
*       Variables pour média queries
*/
.bold {
  font-weight: bold;
}

.gray {
  color: var(--dimgray);
}

.accessibility-label {
  position: absolute;
  left: -999px;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  max-width: 1300px;
}
body header {
  box-shadow: 0 5px 10px lightgrey;
}
body header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2.3rem;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}
body header > div {
  display: flex;
}
body header .logo {
  display: flex;
  flex-basis: 2rem;
  align-items: center;
  margin-left: 1rem;
}
body header .logo i {
  font-size: 2rem;
  color: black;
  cursor: pointer;
}
body header .titre {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}
body header .titre h1 {
  font-family: "Shrikhand", cursive;
}
body main {
  background-color: #EAEAEA;
}
body main img {
  height: 400px;
  object-fit: cover;
  object-position: 50% 70%;
  width: 100%;
}
body main .titre-menu {
  position: relative;
  top: -5rem;
  border-radius: 3rem 3rem 0 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 95%;
  padding-left: 2rem;
  background-color: #EAEAEA;
}
body main .titre-menu h1 {
  font-family: "Shrikhand", cursive;
}
body main .titre-menu i {
  display: flex;
  font-size: 2rem;
  padding-right: 3rem;
}
body main .titre-menu .layout-star {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
body main .titre-menu .layout-star .fa-solid.fa-heart {
  display: none;
}
body main .titre-menu .layout-star:hover {
  cursor: pointer;
  background: linear-gradient(#9356dc 20%, #ff79da 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body main .titre-menu .layout-star:hover .fa-regular.fa-heart {
  display: none;
}
body main .titre-menu .layout-star:hover .fa-solid.fa-heart {
  display: inline;
}
body main .menus {
  border: 0;
}
body main .menus .articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(365px, auto);
  justify-content: center;
}
body main .menus .articles .entrees {
  grid-column: 1;
}
body main .menus .articles .plats {
  grid-column: 2;
}
body main .menus .articles .desserts {
  grid-column: 3;
}
body main .menus .articles .btn-explore {
  grid-column: 2;
  grid-row: 3;
}
body main .menus .articles .entrees, body main .menus .articles .plats, body main .menus .articles .desserts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
body main .menus .articles .entrees h4, body main .menus .articles .entrees p, body main .menus .articles .plats h4, body main .menus .articles .plats p, body main .menus .articles .desserts h4, body main .menus .articles .desserts p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body main .menus .articles .entrees h3, body main .menus .articles .plats h3, body main .menus .articles .desserts h3 {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  text-transform: uppercase;
  color: #353535;
  font-weight: normal;
  margin: 0;
  position: relative;
}
body main .menus .articles .entrees h3::after, body main .menus .articles .plats h3::after, body main .menus .articles .desserts h3::after {
  position: absolute;
  top: 25px;
  content: "";
  height: 3px;
  width: 50px;
  background-color: #99e2d0;
}
body main .menus .articles .entrees .article-menu, body main .menus .articles .plats .article-menu, body main .menus .articles .desserts .article-menu {
  display: flex;
  border: 1px solid transparent;
  background-color: white;
  width: 100%;
  height: 60px;
  border-radius: 1rem;
  overflow: hidden;
  animation: effet-menu 1s ease-in;
}
body main .menus .articles .entrees .article-menu .for-input input, body main .menus .articles .plats .article-menu .for-input input, body main .menus .articles .desserts .article-menu .for-input input {
  width: 365px;
  height: 60px;
  position: absolute;
  visibility: hidden;
}
body main .menus .articles .entrees .article-menu .for-input label, body main .menus .articles .plats .article-menu .for-input label, body main .menus .articles .desserts .article-menu .for-input label {
  width: 365px;
  position: absolute;
  flex-basis: 100%;
  height: 60px;
  border-radius: 1rem;
}
body main .menus .articles .entrees .article-menu .for-input label:hover, body main .menus .articles .plats .article-menu .for-input label:hover, body main .menus .articles .desserts .article-menu .for-input label:hover {
  cursor: pointer;
}
body main .menus .articles .entrees .article-menu .for-input input[type=checkbox]:checked + label, body main .menus .articles .plats .article-menu .for-input input[type=checkbox]:checked + label, body main .menus .articles .desserts .article-menu .for-input input[type=checkbox]:checked + label {
  background-color: #2FAF94;
  opacity: 0.2;
  box-shadow: 0 0 5px 3px black;
}
body main .menus .articles .entrees .article-menu:hover .select-choix, body main .menus .articles .plats .article-menu:hover .select-choix, body main .menus .articles .desserts .article-menu:hover .select-choix {
  margin: 0;
  transition: all 0.5s;
  cursor: pointer;
}
body main .menus .articles .entrees .article-menu:hover .select-choix i, body main .menus .articles .plats .article-menu:hover .select-choix i, body main .menus .articles .desserts .article-menu:hover .select-choix i {
  animation: spin 1s;
}
body main .menus .articles .entrees .article-menu .description, body main .menus .articles .plats .article-menu .description, body main .menus .articles .desserts .article-menu .description {
  display: flex;
  flex-direction: column;
  overflow: hidden; /* OVERHIDDEN */
  white-space: nowrap;
  text-overflow: ellipsis;
  justify-content: space-between;
  width: 80%;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
body main .menus .articles .entrees .article-menu .description:hover, body main .menus .articles .plats .article-menu .description:hover, body main .menus .articles .desserts .article-menu .description:hover {
  cursor: pointer;
}
body main .menus .articles .entrees .article-menu .prix, body main .menus .articles .plats .article-menu .prix, body main .menus .articles .desserts .article-menu .prix {
  display: flex;
  width: 4rem;
  font-weight: bold;
  align-items: flex-end;
  justify-content: center;
  padding: 0 0.5rem 0.5rem 0;
  border-radius: 0 1rem 1rem 0;
}
body main .menus .articles .entrees .article-menu .prix:hover, body main .menus .articles .plats .article-menu .prix:hover, body main .menus .articles .desserts .article-menu .prix:hover {
  cursor: pointer;
}
body main .menus .articles .entrees .article-menu .select-choix, body main .menus .articles .plats .article-menu .select-choix, body main .menus .articles .desserts .article-menu .select-choix {
  display: flex;
  background-color: #99E2D0;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
  border-radius: 0 1rem 1rem 0;
  width: 4rem;
  margin-right: -4rem;
}
body main .btn-explore {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #EAEAEA;
}
body main .btn-explore label {
  padding: 1.3rem;
  color: white;
  border-radius: 2rem;
  font-size: 1.3rem;
  background: linear-gradient(#ff79da, #9356dc);
  margin-bottom: 3rem;
  margin-top: 2rem;
  box-shadow: 0 3px 10px darkgray;
}
body main .btn-explore label:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 3px 10px #ff79da;
}
body main .btn-explore p {
  font-size: 1.8rem;
  margin: 0;
  margin-top: 1.5rem;
  padding: 0 1rem;
  flex-basis: 100%;
}
body footer {
  background-color: #353535;
  color: white;
  padding: 1rem 0 3rem 2rem;
}
body footer h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}
body footer a {
  text-decoration: none;
  color: white;
}

/*
*       MEDIA QUERIES
*/
@media (max-width: 1040px) {
  body {
    width: 0 auto;
  }
  body .articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(365px, auto);
  }
  body .articles .entrees {
    grid-column: 1;
  }
  body .articles .plats {
    grid-column: 2;
  }
  body .articles .desserts {
    grid-column: 3;
  }
  body .articles .entrees, body .articles .plats, body .articles .desserts {
    display: flex;
    border: 1px solid red;
    width: 50%;
  }
  body .articles .entrees h3, body .articles .plats h3, body .articles .desserts h3 {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .subtitle {
    font-size: 1.2rem;
  }
}
@media (max-width: 576px) {
  body {
    min-width: 374px;
  }
  body .menus {
    margin: 0;
    padding: 0;
    padding-left: 5px;
  }
  body .menus .entrees h3, body .menus .plats h3, body .menus .desserts h3 {
    display: flex;
    justify-content: start !important;
    margin-left: 0.5rem !important;
  }
  body .menus .entrees .article-menu, body .menus .entrees .article-menu input, body .menus .entrees .article-menu label, body .menus .plats .article-menu, body .menus .plats .article-menu input, body .menus .plats .article-menu label, body .menus .desserts .article-menu, body .menus .desserts .article-menu input, body .menus .desserts .article-menu label {
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
  }
}
/*
*       KeyFrames
*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes effet-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=restaurants.css.map */
