//  import font "Shrikhand"
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
//  font-family: 'Roboto', sans-serif;
//  font-family: 'Shrikhand', cursive;
//
//  variables colors
// :root {
$--primary: #9356dc;
$--secondary: #ff79da;
$--tertiary: #99e2d0;
$--darkgray: darkgray;
$--dimgray: dimgray;
$--lightgray: lightgray;
$--ultralightgray: #EAEAEA;
$--graywhite: #F6F6F6;
// }

//  hidden <label> position for accessibility       
.accessibility-label {
	position:absolute;
	left:-999px;
}

.bold {
    font-weight: bold;
}
.gray {
    color: $--dimgray;
}
