footer {
    background-color: $--grayblack;
    color: white;
    padding: 1rem 0 3rem 2rem;
    & h1 {
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
    }
    & a {
        text-decoration: none;
        color: white;
    }
}