@mixin color-stars() {
    .layout-star {
        display: flex;
        width: 15%;
        height: 50px;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        .fa-solid.fa-heart { 
            display: none;
        }
        &:hover {
            cursor: pointer;
            .fa-regular.fa-heart {
                display: none;
            }
            .fa-solid.fa-heart { 
                display: inline;
            }
            background: linear-gradient($--primary 20%, $--secondary 100%);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}




@mixin overhidden() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin choix-de-menu() {
    display: flex;
    border: 1px solid transparent;
    width: 470px;
    height: 60px;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
    animation: effet-menu 2s ease-in-out;
    @include effet-menu();
    @media (max-width: 530px) {
        width: 350px;
        margin: auto;
        margin-bottom: 1rem;
        .entrees, .plats, .desserts {
            padding: 0;
            h3 {
                margin-left: 1rem;
            }
        }
    }
    .description {
        display: flex;
        flex-direction: column;
        @include overhidden();
        justify-content: space-between;
        width: 80%;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
    }
    .prix {
        display: flex;
        width: 4rem;
        font-weight: bold;
        align-items: flex-end;
        justify-content: center;
        padding: 0 0.5rem 0.5rem 0;
        border-radius: 0 1rem 1rem 0;
    }
    .select-choix {
        display: flex;
        background-color: $--lightgreen;
        color: white;
        font-weight: bold;
        font-size: 1.3rem;
        align-items: center;
        justify-content: center;
        border-radius: 0 1rem 1rem 0;
        width: 4rem;
        margin-right: -4rem;
    }
    &:hover {
        .select-choix {
            margin: 0;
            transition: all 0.5s;
            cursor: pointer;
            i {
                animation: spin 1s;
            }
        }
    }
    .description:hover, .prix:hover {
        cursor: pointer;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    @keyframes effet-menu {
        0% {
            opacity: 0;
            transform: rotateX(-180deg);
            transform-origin: top;
        }
    
        100% {
            opacity: 1;
            transform: rotateX(0deg);
            transform-origin: top;
        }
    }
}

@mixin btn-style() {
    .btn-explore {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        label {
            padding: 1.3rem;
            color: white;
            border-radius: 2rem;
            font-size: 1.3rem;
            background: linear-gradient($--secondary, $--primary);
            margin-bottom: 3rem;
            margin-top: 2rem;
            box-shadow: 0 3px 10px $--darkgray;
            &:hover {
                cursor: pointer;
                transform: scale(1.02);
                box-shadow: 0 3px 10px $--secondary;
            }
        }
        p {
            font-size: 1.8rem;
            margin: 0;
            margin-top: 1.5rem;
            padding: 0 1rem;
            flex-basis: 100%;
        }
    }
}