@import "base";
@import "header";
@import "footer";

@mixin choix-de-menu() {
    display: flex;
    border: 1px solid white;
    width: 300px;
    height: 60px;
    background-color: white;
    border-radius: 1rem;
    .description {
        display: flex;
        flex-direction: column;
        width: 98%;
        gap: 0.2rem;
        padding: 0.5rem;
        align-content: space-around;
        // & h4 {
        //     padding-bottom: 5px;
        // }
    }
    .prix {
        display: flex;
        width: 10%;
        align-items: flex-end;
        justify-content: end;
        padding: 0 0.5rem 0.8rem 0;
        border-radius: 0 1rem 1rem 0;
    }
    .select-choix {
        display: flex;
        background-color: $--lightgreen;
        align-items: center;
        justify-content: center;
        border-radius: 0 1rem 1rem 0;
        width: 4rem;
        & i:hover {
            font-size: 1.2rem;
            color: $--green;
            background: white;
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: 1s ease-in;
        }
    }
    .description:hover, .prix:hover {
        cursor: pointer;
    }
    &:hover {
        display: flex;
        background-color: $--lightgreen;
        align-items: center;
        justify-content: center;
        border-radius: 0 1rem 1rem 0;
        width: 4rem;
    }

}

body {
    header {
        > div {
            display: flex;
        }
        .logo {
            display: flex;
            flex-basis: 2rem;
            align-items: center;
            margin-left: 1rem;
            & i {
                font-size: 2rem;
                color: black;
                cursor: pointer;
            }
        }
        .titre {
            display: flex;
            flex-basis: 100%;
            justify-content: center;
            & h1 {
                font-family: "Shrikhand", cursive;
            }
        }
    }
    main {
        border-radius: 2rem 2rem 0 0;
        background-color: $--ultralightgray;
        overflow: hidden;
        & img {
            height: 400px;
            object-fit: cover;
            object-position: 50% 70%;
            width: 100%;
        }
        .titre-menu {
            position: relative;
            top: -5rem;
            border-radius: 3rem 3rem 0 0;
            background-color: white;
            display: flex;
            justify-content: space-between;
            flex-basis: 95%;
            padding-left: 2rem;;
            background-color: $--ultralightgray;
            & h1 {
                font-family: 'Shrikhand', cursive;
            }
            & i {
                display: flex;
                font-size: 2rem;
                align-items: center;
                padding-right: 3rem;
            }
        }
        .entrees {
            padding: 0 0 5rem 1rem;
            & h4, p {
                margin: 0;
            }
            & span {
                border-bottom: 3rem;
                border-color: $--green;
            }
            & input {
                display: none;
            }
            .form {
                @include choix-de-menu();
            }
            
        }

    }
}
