@import "base";
@import "mixins";


body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    max-width: $max-width;

    header {
        box-shadow: 0 5px 10px lightgrey;
        h1 {
            font-family : 'Shrikhand', cursive;
            font-size: 2.3rem;
            margin: 0;
            padding: 1rem 0;
            text-align: center;
        }
        
        > div {
            display: flex;
        }

        .logo {
            display: flex;
            flex-basis: 2rem;
            align-items: center;
            margin-left: 1rem;
            i {
                font-size: 2rem;
                color: black;
                cursor: pointer;
            }
        }

        .titre {
            display: flex;
            flex-basis: 100%;
            justify-content: center;
            h1 {
                font-family: "Shrikhand", cursive;
            }
        }
    }

    
    main {
        background-color: $--ultralightgray;
        img {
            height: 400px;
            object-fit: cover;
            object-position: 50% 70%;
            width: 100%;
        }

        .titre-menu {
            position: relative;
            top: -5rem;
            border-radius: 3rem 3rem 0 0;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-basis: 95%;
            padding-left: 2rem;;
            background-color: $--ultralightgray;
            h1 {
                font-family: 'Shrikhand', cursive;
            }
            i {
                display: flex;
                font-size: 2rem;
                padding-right: 3rem;
            }
            @include color-stars();
        }

        .menus {
            border: 0;

            .articles {
                display: flex;
                flex-wrap: wrap;
                // align-items: center;
                justify-content: center;
    
                .entrees, .plats, .desserts {
                    padding: 0 1rem 3rem 0;
                    display: flex;
                    flex-wrap: wrap;
                    width: $largeur-menu;
                    h4, p {
                        margin: 0;
                        overflow: hidden;             
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    h3 {
                        display: flex;
                        justify-content: center;
                        flex-basis: 100%;
                        text-transform: uppercase;
                        margin: 0;
                        margin-bottom: 0.3rem;
                    }
                    h3::after {
                        border-bottom: 30px solid $--lightgreen;
                    }

                    .article-menu {
                        display: flex;
                        // flex-wrap: wrap;
                        border: 1px solid transparent;
                        background-color: white;
                        width: $largeur-menu;
                        height: 60px;
                        border-radius: 1rem;
                        overflow: hidden;
                        margin-bottom: 1rem;
                        animation: effet-menu 1s ease-in;

                        .for-input {
                            input {
                                width: $largeur-menu;
                                height: 60px;
                                position: absolute;
                                visibility: hidden;
                            }
                            
                            label { 
                                width: $largeur-menu;
                                position: absolute;
                                flex-basis: 100%; 
                                height: 60px;
                                border-radius: 1rem;
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                            
                            input[type="checkbox"]:checked + label {
                                background-color: $--green;
                                opacity: 0.2;
                                box-shadow: 0 0 5px 3px black;
                            }
                        }
        
                        &:hover .select-choix {
                            margin: 0;
                            transition: all 0.5s;
                            cursor: pointer;
                        }
                        &:hover .select-choix i {
                            animation: spin 1s;
                        }
    
                        .description {
                            display: flex;
                            flex-direction: column;
                            overflow: hidden;               /* OVERHIDDEN */
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            justify-content: space-between;
                            width: 80%;
                            padding: 0.5rem 0.5rem 0.5rem 1rem;
                            &:hover {
                                cursor: pointer;
                            
                            }
                        }
                        .prix {
                            display: flex;
                            width: 4rem;
                            font-weight: bold;
                            align-items: flex-end;
                            justify-content: center;
                            padding: 0 0.5rem 0.5rem 0;
                            border-radius: 0 1rem 1rem 0;
                            &:hover {
                                cursor: pointer;
                            
                            }
                        }
                        .select-choix {
                            display: flex;
                            background-color: $--lightgreen;
                            color: white;
                            font-weight: bold;
                            font-size: 1.3rem;
                            align-items: center;
                            justify-content: center;
                            border-radius: 0 1rem 1rem 0;
                            width: 4rem;
                            margin-right: -4rem;
                        }
                    }
                }
            }
        }

        @include btn-style() ;

    }


    footer {
        background-color: $--grayblack;
        color: white;
        padding: 1rem 0 3rem 2rem;
        h1 {
            font-family: 'Shrikhand', cursive;
            font-weight: normal;
        }
        a {
            text-decoration: none;
            color: white;
        }
    }
}


/*
*       MEDIA QUERIES
*/


@media (max-width: $netbook) {
    body {
        width: 0 auto;
        .entrees, .plats, .desserts {
            h3 {
                display: flex;
                justify-content: center;
            }
        }
    }
}

@media (max-width: $tablette) {
    .subtitle {
        font-size: 1.2rem;
    }
}

@media (max-width: $smartphone) {
    body {
        min-width: 390px;
    }
    .entrees, .plats, .desserts {
        margin: 0;
        padding: 0;
        h3 {
            display: flex;
            justify-content: flex-start;
            margin-left: 1rem;
        }
        .article-menu, .article-menu input, .article-menu label {
            width: $largeur-menu;
            margin: auto;
            margin-bottom: 1rem;
        }
    }
}

/*
*       KeyFrames
*/
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes effet-menu {
    0% { opacity: 0; }
    100% { opacity: 1; }
}