@import "style";
@import "mixins";

body {
    header {
        > div {
            display: flex;
        }
        .logo {
            display: flex;
            flex-basis: 2rem;
            align-items: center;
            margin-left: 1rem;
            i {
                font-size: 2rem;
                color: black;
                cursor: pointer;
            }
        }
        .titre {
            display: flex;
            flex-basis: 100%;
            justify-content: center;
            h1 {
                font-family: "Shrikhand", cursive;
            }
        }
    }
    main {
        background-color: $--ultralightgray;
        fieldset {
            border: 0
        }
        img {
            height: 400px;
            object-fit: cover;
            object-position: 50% 70%;
            width: 100%;
        }
        .titre-menu {
            position: relative;
            top: -5rem;
            border-radius: 3rem 3rem 0 0;
            background-color: white;
            display: flex;
            justify-content: space-between;
            flex-basis: 95%;
            padding-left: 2rem;;
            background-color: $--ultralightgray;
            h1 {
                font-family: 'Shrikhand', cursive;
            }
            i {
                display: flex;
                font-size: 2rem;
                align-items: center;
                padding-right: 3rem;
            }
            @include color-stars();

        }
        .menus {
            display: flex;
            flex-direction: column;
            align-items: center;
            .entrees, .plats, .desserts {
                padding: 0 1rem 3rem 0;
                // h4, p {
                //     margin: 0;
                //     @include overhidden();

                // }
                h3 {
                    text-transform: uppercase;
                    margin: 0;
                    margin-bottom: 0.3rem;
                }

                // Barre verte sous titre de menu
                > p {
                    width: 47px;
                    color: $--ultralightgray;
                    border-top: 3px solid $--lightgreen;
                }

                article {
                    h2 { display: none; }
                    label {
                        width: 472px;   
                        height: 62px;
                        display: block;
                        border-radius: 1rem;
                        background-color: white;
                        input {
                            visibility: hidden;
                            &:checked {
                                border: 3px solid red;
                                background-color: blue //$--lightgray;
        
                            }                        }
                    }

                    // @include choix-de-menu();
                }
            }
        }
        @include btn-style();
    }
}

