@import "base";
@import "header";
@import "footer";

@mixin choix-de-menu() {
    display: flex;
    border: 1px solid white;
    width: 300px;
    height: 60px;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 85%;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
    }
    .prix {
        display: flex;
        width: 15%;
        align-items: flex-end;
        justify-content: center;
        padding: 0 0.5rem 0.5rem 0;
        border-radius: 0 1rem 1rem 0;
    }
    .select-choix {
        display: flex;
        background-color: $--lightgreen;
        color: white;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        border-radius: 0 1rem 1rem 0;
        width: 4rem;
        margin-right: -4rem;
    }
    &:hover {
        .select-choix {
            margin: 0;
            transition: all 0.5s;
        }
    }
    .description:hover, .prix:hover {
        cursor: pointer;
    }
}

body {
    header {
        > div {
            display: flex;
        }
        .logo {
            display: flex;
            flex-basis: 2rem;
            align-items: center;
            margin-left: 1rem;
            & i {
                font-size: 2rem;
                color: black;
                cursor: pointer;
            }
        }
        .titre {
            display: flex;
            flex-basis: 100%;
            justify-content: center;
            & h1 {
                font-family: "Shrikhand", cursive;
            }
        }
    }
    main {
        background-color: $--ultralightgray;
        // overflow: hidden;
        & img {
            height: 400px;
            object-fit: cover;
            object-position: 50% 70%;
            width: 100%;
        }
        .titre-menu {
            position: relative;
            top: -5rem;
            border-radius: 3rem 3rem 0 0;
            background-color: white;
            display: flex;
            justify-content: space-between;
            flex-basis: 95%;
            padding-left: 2rem;;
            background-color: $--ultralightgray;
            & h1 {
                font-family: 'Shrikhand', cursive;
            }
            & i {
                display: flex;
                font-size: 2rem;
                align-items: center;
                padding-right: 3rem;
            }
        }
        .entrees {
            padding: 0 0 5rem 1rem;
            & h4, p {
                margin: 0;
            }
            & span {
                border-bottom: 3rem;
                border-color: $--green;
            }
            & input {
                display: none;
            }
            .form {
                @include choix-de-menu();
            }
        }

    }
}

