@import "base";
@import "header";
@import "navbar";
@import "menu";


.restaurants {
    background-color: $--graywhite;
    .cards {
        margin: 1rem 1rem 1rem 2rem;
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        .card1, .card2, .card3, .card4 {
            height: 270px;
            display: flex;
            flex-direction: column;
            flex-basis: 25%;
            background-color: white;
            border-radius: 1rem;
            box-shadow: 0 3px 5px $--darkgray;
            & img {
                width: 100%;
                object-fit: cover;
                min-height: 200px;
                max-height: 200px;
                border-radius: 1rem 1rem 0 0;
            }
            .description {
                display: flex;
                justify-content: space-around;
                .layout {
                    width: 90%;
                    & h3, p {
                        margin: 0;
                        padding: 0.3rem 0 0 1rem;
                    }
                    
                }
                .layout-star {
                    width: 10%;
                    height: 50px;
                }
            }
        }
    }
    & h2 {
        margin: 4rem 0 0 2rem;
        padding-top: 2rem;
    }
}