@import "base";
@import "header";
@import "navbar";
@import "menu";
@import "restaurants";


footer {
    background-color: $--grayblack;
    color: white;
    padding: 2rem;
    & h1 {
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
    }
}